<!DOCTYPE html>
<html>
  <head>
    <title>Shorturl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <div>
        <%= button_to 'Logout', logout_path, method: :delete %>
    </div>
  <% end %>
    <main>
      <% if notice && notice['message'] %>
        <aside id="notice" class="<%= notice['severity'] == "error" ? "red_text" : "" %>"><%= notice['message'] %></aside>
        <aside id="alert"><%= alert %></aside>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
